@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

/* ===== Primary Styles ========================================================
   Author: Richard Towers
   ========================================================================== */

body {
  margin-top: 60px;
  background-color: #800;
}

/* We should only show our subtle gradient if the browser has enough colours to
  render it without banding and supports CSS3 gradients. */
@media (min-color: 6) {
  .cssgradients body {
    #gradient.directional(#900,#300,315deg);
  }
}

.backgroundsize.svg .background-map{
  background-image: url('../Continents.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Header */
header {
  color: black;
  text-align: center;
}

header h1{
  padding-top: 10%;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
  z-index: 100;
}

header p{
  font-size: 35px;
  font-weight: 200;
  line-height: 1.25;
}

header h1 sub {
  font-family: @serifFontFamily;
  font-size: 60px;
  font-weight: 100;
  font-style: italic;
}

#riskTree {
  height: 1000px;
  .well();
}

footer {
  margin-top: 50px;
}

/* Various responsive bits and bobs: */
@media (min-width: 1200px) {
  header h1{
    font-size: 120px;
  }
  header p{
    font-size: 40px;
  }
}

@media (max-width: 979px) {
  body {
    margin-top: 0px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  header h1{
    padding-top: 5%;
    font-size: 80px;
  }
  header p{
    font-size: 30px;
  }
  .login.span6 {
    width: 452px;
  }
  .login.offset3 {
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  header h1{
    padding-top: 5%;
    font-size: 60px;
  }
  header p{
    font-size: 25px;
  }
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: firebrick;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}