@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

/* ===== Primary Styles ========================================================
   Author: Richard Towers
   ========================================================================== */

/* Risk Banner */
@bannerHeight: 800px;
.strangelove{
  height: @bannerHeight;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.backgroundsize.svg .strangelove::after{
  height: @bannerHeight;
  background-image: url('../Continents.svg');
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  opacity: 0.09;
  z-index: -1;
}

/* Header */
header {
  color: black;
  text-align: center;
}

header h1{
  padding-top: 10%;
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
  z-index: 100;
}

header p{
  font-size: 35px;
  font-weight: 200;
  line-height: 1.25;
}

/* We should only show our subtle gradient if the browser has enough colours to
  render it without banding and supports CSS3 gradients. */
@media (min-color: 8) {
  .cssgradients .strangelove {
    #gradient.directional(#900,#600,45deg);
  }
}

/* Various responsive bits and bobs: */
@media (min-width: 1200px) {
  header h1{
    font-size: 120px;
  }
  header p{
    font-size: 40px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  header h1{
    padding-top: 5%;
    font-size: 80px;
  }
  header p{
    font-size: 30px;
  }
  .login.span6 {
    width: 452px;
  }
  .login.offset3 {
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  header h1{
    padding-top: 5%;
    font-size: 60px;
  }
  header p{
    font-size: 25px;
  }
}