<form class="form-horizontal offset3 span6 well login">
  <h4>Environment</h4>
  <div class="control-group">
    <label class="control-label" for="selectEnvironment">Environment: </label>
    <div class="controls">
      <select id="selectEnvironment">
        <option>DEVA</option>
        <option>DEVB</option>
        <option>TEST</option>
        <option>UAT</option>
        <option>SDE</option>
        <option>QA</option>
      </select>
    </div>
  </div>
  <h4>Core App User</h4>
  <div class="control-group">
    <label class="control-label" for="inputAppUser">Username: </label>
    <div class="controls">
      <input type="text" id="inputAppUser" placeholder="ACOTHE01">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAppPassword">Password: </label>
    <div class="controls">
      <input type="password" id="inputAppPassword" placeholder="Password">
    </div>
  </div>
  <h4>External Application User <small>(required for some users)</small></h4>
  <div class="control-group">
    <label class="control-label" for="inputExternalAppRef">External App Ref: </label>
    <div class="controls">
      <input type="number" id="inputExternalAppRef" placeholder="1234">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputExternalUser">External User: </label>
    <div class="controls">
      <input type="text" id="inputExternalUser" placeholder="indigoteam@obfuscate.com">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputExternalPassword">External Password: </label>
    <div class="controls">
      <input type="password" id="inputExternalPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a href="tree" class="btn btn-primary">Sign in &raquo;</a>
    </div>
  </div>
</form>